.own-things {
    background: #e2efff;
    padding: 150px 0;

    @media(max-width: 767px) {
        padding: 50px 0;
    }

    .big-heading {
        font-family: "codec-pro";

        @media(max-width: 767px) {
            font-size: 35px;
        }
    }

    p {
        font-family: "codec-pro";
        font-size: 24px;
    }

    ul {

        li {
            list-style: disc;
            font-size: 22px;
        }
    }

    .desk-image {
        margin-top: -80px;

        @media(max-width: 767px) {
            margin-top: 0;
        }
    }

    .btn-submit {
        margin-top: 50px;
    }
}